# ======================
# Python
# ======================
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Pytest
# ======================
.pytest_cache/

# ======================
# Reports (generated)
# ======================
reports/
htmlcov/
.coverage
coverage.xml

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Docker
# ======================
*.pid
*.sock
docker-compose.override.yml